.notFound {
    margin: 0;
    background-image: url(https://www.topgear.com/sites/default/files/2022/07/1%20Guanyu%20Zhou.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font: italic bold 25px/150% sans-serif;
    color: black;
}