.card {

    margin: 1%;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 450px;
    background: rgb(255, 0, 0);
    background: linear-gradient(137deg, rgb(160, 6, 6) 20%, rgb(35, 20, 167) 80%);
    transition: 0.3s ease;
    border-radius: 30px;
    filter: drop-shadow(0px 0px 20px rgba(202, 18, 18, 0.5));
    cursor: pointer;
}

.card .content {
    content: '';
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #181818;
    position: absolute;
    z-index: 1;
    transition: 0.3s ease;
    height: 98%;
    width: 98%;
    top: 1%;
    left: 1%;
    border-radius: 28px;
}

.cardImg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.card:hover {
    filter: drop-shadow(0px 0px 20px rgb(36, 84, 185));
}

.card .content img {
    /* justify-content: center; */
    width: 230px;
    height: 250px;
    object-fit: cover;
    /* margin: 0 auto; */
    /* padding: 0px; */
    /* display: flex;
    align-items: center; */
    border-radius: 20px;
}

.card .footer {
    border: 1px solid rgb(172, 28, 28);
    border-radius: 20px;
    margin: 2px;
    padding: 1%;
    height: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-size: 1em;
    font-family: sans-serif;
    color: rgb(226, 218, 218);
}

.card .footer h2 {
    font-size: 15px;
    margin-bottom: 5px;
}

.card .footer h3 {
    font-size: 18px;
    margin-bottom: 5px;
    color: rgb(224, 58, 46);
}

.card .footer ul {
    column-count: 2;
    text-align: center;
    display: table-footer-group;

}

/* .imagelink {
    display: flex;
    justify-content: center;
} */

/* .content h2 {
    text-align: center;
    font-size: 1em;
    font-family: sans-serif;
} */